.top__navigation {
  width: 90%;
}

.logo {
  width: 20%;
  height: 20%;
}

.social__media__container {
  width: 40%;
}

.search__icon {
  width: 31px;
  height: 31px;
  right: 5px;
  top: 7px;
}

.search__input {
  background-color: #f2f2f2;
  padding: 10px 15px;
  border: none;
}

::placeholder {
  color: black;
}

.contact__us {
  font-weight: bold;
  color: #e39426;
}

.tiny__border__bottom {
  background-color: black;
  height: 5px;
  width: 30px;
  top: 25px;
  left: 1px;
}

.hanburger__menu {
  width: 50px;
  height: 50px;
}

.black__search__icon {
  width: 25px;
  height: 25px;
}

ul {
  list-style-type: none;
  padding-left: 0 !important;
}

nav {
  background-color: #fde32b;
}

nav > ul > li {
  position: relative;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  background-color: black;
  width: 200px;
  left: 0%;
}

nav ul li.has__submenu:hover > ul {
  display: inherit;
}

.drop__down__links {
  color: white;
  font-weight: normal;
  font-size: 14px;
  padding: 10px 0px 10px 10px;
}

.drop__down__links > a {
  color: white;
  text-decoration: none;
}

.drop__down__links:hover {
  background-color: #fde32b;
}

.drop__down__links:hover a {
  color: black;
}

.bottom__navigation {
  width: 90%;
  margin: auto;
}

.navigation__links {
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
}

.navigation__links:hover {
  background-color: black;
  color: white;
}

.dropdown__icon {
  height: 30px;
  width: 30px;
}

.banner__section {
  width: 90%;
  margin: auto;
  position: relative;
}

.banner__year {
  font-weight: bold;
  font-size: 110px;
  margin-bottom: 0 !important;
}

.applications {
  font-size: 40px;
  margin-top: -25px;
}

.now__open {
  background-color: #fde32b;
  height: 140px;
  width: 150px;
  font-size: 30px;
  text-align: center;
}

.banner__left {
  width: 38%;
}

.banner__paragraph {
  font-size: 18px;
}

.checkmark {
  height: 20px;
  width: 20px;
  margin-right: 30px;
}

.banner__descriptions {
  font-weight: bold;
  font-size: 20px;
}

.banner__button {
  margin-top: 30px;
  padding: 8px 15px;
  width: 150px;
  border: 3px solid black;
  font-weight: bold;
  font-size: 24px;
}

.banner__button:hover {
  background-color: #fde32b;
  cursor: pointer;
}

.lorem__ipsum {
  margin-left: 10px;
}

.separator {
  position: relative;
  padding-bottom: 5.5%;
  overflow: hidden;
}

.separator:before,
.separator:after {
  content: "";
  position: absolute;
  -webkit-backface-visibility: hidden;
}

.separator:after {
  background: #f2f2f2;
  top: 100%;
  width: 100%;
  height: 100%;

  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;

  -webkit-transform: rotate(-2.5deg);
  -ms-transform: rotate(-2.5deg);
  transform: rotate(-2.5deg);
}

.in__the__news__section {
  background-color: #f2f2f2;
  padding-bottom: 150px;
  position: relative;
}

.in__the__news {
  width: 80%;
  margin: auto;
}

.in__the__news__heading__section {
  text-align: center;
}

.in__the__news__heading {
  font-weight: bold;
}

.news__card {
  background-color: white;
  width: 45%;
  padding: 40px;
  height: 250px;
}

.news__card:hover,
.get__started {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.news__card__heading {
  font-weight: bold;
}

.news__card__yellow {
  background-color: #fde32b;
  cursor: pointer;
}

.description__yellow {
  font-weight: bold;
  text-align: center;
}

.right__arrow {
  height: 30px;
  width: 30px;
}

.banner__image {
  z-index: -1;
  position: absolute;
  right: 0;
  top: 5%;
  width: 900px;
  height: 800px;
}

.get__started {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 92%;
  left: 10%;
  width: 80%;
}

.get__started__paragraph {
  font-size: 32px;
  font-weight: 200;
}

.programmes__section {
  padding: 150px 100px;
  background-color: #fde32b;
  text-align: center;
}

.programmes__heading {
  font-weight: bold;
}

.programme__image {
  background-color: white;
  border-radius: 50%;
  padding: 35px 20px;
}

.programme__text {
  font-weight: bold;
  font-size: 18px;
}

.campuses__section {
  background-color: #f2f2f2;
  text-align: center;
  padding: 90px 0px;
}

.campuses__content {
  width: 80%;
  margin: auto;
}

.campuses__heading {
  font-weight: bold;
}

.campus__cards__section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
}

.campus__cards {
  text-align: start;
  margin: 0px 20px;
  background-color: #fde32b;
  padding: 30px 20px;
  height: fit-content;
}

.campus__image {
  background-image: url("/public/assets/nurse-man.jpg");
  margin: 0px 20px;
  height: 100%;
  padding-bottom: 30px;
}

.campus__cards:hover,
.campus__cards:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.footer__content {
  width: 80%;
  margin: auto;
  padding: 50px 0px;
}

.footer__row {
  margin-right: 40px;
}

.footer__section {
  background-color: #fde32b;
}

.footer__row__header {
  font-weight: bold;
  font-size: 14px;
}

.footer__row ul li {
  font-size: 12px;
}

.footer__icon {
  height: 20px;
  width: 20px;
  margin-right: 15px;
}

.footer__number,
.footer__connect {
  font-weight: bold;
}

.footer__connect {
  margin-right: 10px;
}

.footer__connect__icons {
  height: 30px;
  width: 30px;
  margin-left: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .banner__year {
    font-size: 70px;
  }

  .applications {
    font-size: 26px;
    margin-top: -15px;
  }
  .now__open {
    background-color: #fde32b;
    height: 85px;
    width: 85px;
    font-size: 20px;
    text-align: center;
    padding: 2px !important;
  }
  .banner__left {
    width: 37%;
  }

  .banner__paragraph {
    font-size: 12px;
  }

  .banner__button {
    margin-top: 5px;
    padding: 2px 8px;
    width: 150px;
    border: 3px solid black;
    font-weight: bold;
    font-size: 24px;
  }

  .banner__image {
    width: 550px;
    height: 500px;
  }

  .news__card {
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .news__card {
    width: 95%;
    height: 330px;
  }

  .campus__image {
    height: 400px;
  }

  .footer__number,
  .footer__connect {
    font-size: 16px;
  }

  .footer__connect__icons {
    height: 20px;
    width: 20px;
  }

  .footer__bottom {
    margin-top: 30px;
  }
}
